.wrapBlock {
    width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    border: 1px solid #424242;
    background-color: #232626;
    border-radius: 6px;
    color: #f1f1f1;
}
.counterTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid #424242;
    border-radius: 6px;
    padding: 20px 0;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding: 10px 0;
    width: 100%;
    border: 1px solid #424242;
    border-radius: 6px;
}
.counter{
    font-size: 50px;
}

.counterRed{
    font-size: 50px;
    font-weight: 500;
    color: red;
}

.tableRow {
    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.tableRow:not(:last-child) {
    margin-bottom: 10px;
}